/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;    
}

/*STYLES FOR MOBILE */
/* General styles for headings and paragraphs */

body {
  background:white;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: black;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 6em;
  text-align: center;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 5em;
  text-align: center;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

p {
  text-align: start;
} 

 /* Basic styles for the navigation bar */

nav {
  background: black;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
  


nav a:link, nav a:visited {  /* This style makes the links of the nav bar change colour */
  font-size: 18px;
  color: #F2DE77;
  text-align: center;
  display: block;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 17px;    
}

li a:hover { /* This style makes the links of the nav bar change colour when is hover */
  color: #fff;
  background-color: #BE8383;
}

/* Styles for banner starts here */

.products{
  padding: 3em;
}

.container-products{
  background: #BE8383;
  color: black;
  padding: 3em;
  animation: slide-in-top 0.5s ease-out alternate both; /* Styles animation */
}


@keyframes slide-in-top {  /* keyframes I used to make the pink banner slide in top of the webpage */
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

 /* Styles for banner ends here */

  /* Styles for products section */
.container-products h1{
 color:#F2DE77;
 font-size: 4em;
}

.container-products h2{
  color: black;
  font-size: 3em;
}

.container-products h3{
  color: white;
  font-size: 1.8em;
}


section { 
  height: 90em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2DE77;
}
.slider { /* Styles for the container of the slider */
  position: relative;
  width: 300px;
  overflow: hidden;
  background-color: #fff;
  
}
.slider .button{
padding-left: 20px;
padding-right: 5px;
}
.images {
  display: flex;
  width: 100%;
}
.images img {
  height: 300px;
  width: 100%;
  transition: all 0.15s ease; /* Style to apply to every image when it moves */
}
.images input {
  display: none;
}
.dots { /* Style for the dots*/
  display: flex;
  justify-content: center;
  padding-top: 1em;
  margin: 5px;
}
.dots label {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: solid black 3px;
  cursor: pointer;
  transition: all 0.15s ease; /* Style for the dots*/
  margin: 5px;
}
.dots label:hover {background: #F2DE77;}  /* style to change the colour of the dots when are hover */     
#img1:checked ~ .m1 { /* pseudocode to makes the images change to the next image when the dot is checked*/ 
  margin-left: 0;
}
#img2:checked ~ .m2 { /* pseudocode to makes the images change to the next image when the dot is checked*/ 
  margin-left: -100%;
}
#img3:checked ~ .m3 { /* pseudocode to makes the images change to the next image when the dot is checked*/ 
  margin-left: -200%;
}

#img4:checked ~ .m4 { /* pseudocode to makes the images change to the next image when the dot is checked*/ 
  margin-left: 0;
}
#img5:checked ~ .m5 { /* pseudocode to makes the images change to the next image when the dot is checked*/ 
  margin-left: -100%;
}
#img6:checked ~ .m6 { /* pseudocode to makes the images change to the next image when the dot is checked*/ 
  margin-left: -200%;
}

#img7:checked ~ .m7 { /* pseudocode to makes the images change to the next image when the dot is checked*/ 
  margin-left: 0;
}
#img8:checked ~ .m8 { /* pseudocode to makes the images change to the next image when the dot is checked*/ 
  margin-left: -100%;
}
#img9:checked ~ .m9 { /* pseudocode to makes the images change to the next image when the dot is checked*/ 
  margin-left: -200%;
}

.button a {
  background-color: #077438;
  border: none;
  color: white;
  padding: 10px 60px;
  text-decoration: none;
  display:block;
  
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  width: 50%;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease; /* Transition to change the colour of the button */ 
}

a{
  text-align: center;
}

.button a:hover{ /* this style scale the size of the button when its hover */ 
  transform: scale(1.1);
  background-color: #F2DE77;
}

/* Styles for products ends here */

/* Styles for footer */


.container-footer{
    
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  background-color: black;
  padding: 1rem;
}

.container-footer .copy{
  display: flex;
  color:#F2DE77;
  justify-content: center;
  font-size: 1em;   
}

.icons {
  text-align: center;
  font-size: 2rem;
  padding-right: 10px;
  color: #F2DE77;
     
}

.icons a{
  text-decoration: none;
  color: #F2DE77;
}

.icons a:hover{ /* This style changes the colour of the icons when are hover */
 color: #BE8383; 
}


/* Styles for skip links */


.skip a{ 
color: whitesmoke;
text-decoration: none;
position: absolute;
top: -3em;
background-color: black;
color:#F2DE77;
padding: .6em 1em;
font-weight: bold;
}

.skip a:focus{
top: 0;
}

ul {
list-style-type: none;
}


/* DESKTOP STYLES START HERE */

@media screen and (min-width: 960px) { /* This is the breakpoint to desktop size */
  
  /* Basic styles for the navigation bar */

  nav .container { /* This style change the position of the items of the nav bar for desktop size */
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
  
   nav ul {
      display:flex;
        
   }
  
   img{
      text-align: center;
   }
  
   nav ul li {
      margin-right: 1.5em;
   }
  
   nav a:link,
   nav a:visited {
      padding-left: 30px;
      padding-right: 30px;
   }

  /* Products section styles starts here*/ 

   section{
    height: 35em;
   }


   .grid-container{ /* This style display the containers horizontally for desktop size */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;  
  }

  .grid-container .slider{
    background-color: #fff;  
  }

   /* Styles for footer section */

   .container-footer{ /* This style display the containers horizontally for desktop size */
    display: flex;
  }

  .container-footer .copy{

    display: flex;
    justify-content: left;
    font-size: 1em;
    padding: 1em;   
}

.icons { /* This style aligns the icons next to the copyright for desktop size */
    display: flex;
    text-align: center;
    justify-content:flex-end;
    gap: 10px;
    font-size: 2rem;
    padding-top: 8px;
    padding-right: 25px;
    color: #F2DE77;
    text-decoration: none;    
}


.icons a{
    text-decoration: none;
}

/* Styles for skip links */


.skip a{ 
    color: whitesmoke;
    text-decoration: none;
    position: absolute;
    top: -3em;
    background-color: black;
    color:#F2DE77;
    padding: .6em 1em;
    font-weight: bold;
  }
  
  .skip a:focus{
    top: 0;
  }
  
  ul {
    list-style-type: none;
  }



  



  }/* DESKTOP STYLES FINISH HERE */










  

